body {
  font-family: "Open Sans", sans-serif !important;
}

h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: -3px;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #00D151;
  transition: all .3s;
  &:active, &:focus, &:hover {
    text-decoration: none;
    color: #606060;
    outline: none;
    box-shadow: none;
  }
}

.low-z-index { // fixes some problems with elements appearing incorrectly above the others
  position: relative;
  z-index: 1
}

input[type=text], input[type=password], input[type=email] {
  &.form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #CCC;
    box-shadow: initial;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
  }
}

.input-group-addon {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid #CCC !important;
  border-radius: 0 !important;
}

.btn {
  border-radius: 2px !important;
  transition: transform .2s;
  &:active {
    transform: scale(0.98);
  }
  &.btn-green, &.btn-primary {
    background: #15B133;
    color: white;
    border: 0 !important;
    &:hover {
      background: lighten(#15B133, 5%);
      color: white !important;;
    }
  }
  &.btn-white, &.btn-default {
    background: white;
    color: #15B133;
    border: 1px solid #15B133 !important;
    &:hover, &:focus, &:active {
      background: #ecfdde;
      color: #15B133 !important;
    }
  }
  .btn-black {
    background: black;
    color: white;
    border-radius: 2px !important;
    &:hover {
      background: #444;
      color: white;
    }
  }
  &.btn-danger {
    background: white;
    color: #b1000b;
    border: 1px solid #b10900 !important;
    &:hover, &:focus, &:active {
      background: #fde6e9;
      color: #b10003 !important;
    }
  }
}

.alert {
  border-radius: 2px;
  background: white;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
{
  opacity: 0
}

.panel, .panel-heading, .badge {
  border-radius: 0 !important;
}

.panel {
  .panel-heading {
    font-family: 'Quicksand', sans-serif;
    h4 {
      margin: 0;
    }
  }
  &.panel-default {
    border-color: black;
    .panel-heading {
      background: black;
      color: white;
    }
  }
}

.id {
  font-family: monospace, sans-serif;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}
